.btn {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    color: var(--Dark-purple);
    font-weight: 600;
    font-size: var(--p-size);
}